<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Powder Day Snowboards</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
    {{>nav}}
    </div>
    <div class="main-container">
        {{{body}}}
    </div>
    <div>
    {{>footer}}
    </div>
  </body>
</html>
