<!DOCTYPE html>
<html>
  <head>
    <title>Powder Day Snowboards</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{>nav}}
    <div class="main-container">
        {{{body}}}
    </div>
    {{>footer}}
  </body>
</html>
