<div class="home-page">
  <div class="left-hero">
    <h1>{{{title}}}</h1>
  </div>
  <div class="page-content-container">
    <h3>Get Your Snow Gear</h3>

    {{#if error}}
    <p>Error</p>
    {{else}}
    <p>No Error!</p>
    {{/if}}
  </div>
    
</div>
