* {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

nav {
  padding: 0 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(40, 40, 40);
  min-height: 7rem;
  font-size: 3rem;
  width: 100vw;
  background-position: center; 
}


.nav-links, .nav-links a, .logo a {
  color: rgb(238, 135, 9);
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  gap: 2vw;
  font-size: 2.2rem;
  padding-right: 50px;
  font-weight: bold;
  text-shadow: 1px 2px 1px rgb(60, 59, 59);
}

/* dont' know why this transform gets triggered whenver page reloads after link click */
.nav-link {
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 10px;
  transition-property: text-decoration;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-delay: 0.2s;
}

.nav-link:hover{
  color: white;
  text-shadow: 1px 1px  rgb(238, 135, 9);
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 10px;
}

.logo:hover {
  transform: scale(1.1);
}

h3.logo a {
  font-size: 5rem;
}


.main-container {
  display: flex;
  background: repeating-linear-gradient(
    45deg,
    white 0px 8px, /* 1st color start and end length */
    rgb(245, 245, 245) 9px 10px /* 2nd color start and end length. 
    2nd color start number should start right after 1st if you don't want gradient. 
    but if you want gradient inbetween the two colors, leave some number space */
  );
}

.home-page {
  display: grid;
  grid-template-columns: 
    1fr
    min(70vw, 100%);
}

.page-content-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.left-hero {
  padding: 2rem;
  max-width: 20vw;
  background-color: rgb(42, 42, 43);
  font-size: 5rem;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: url(https://media.giphy.com/media/izLB2oZY9ZXzO/giphy.gif);
  background-size: cover;
  height: 100vh;
  background-color: rgb(42, 42, 43);

}

.left-hero h1 {
  font-size: 3rem;
  word-wrap: break-word;
}
.left-hero p {
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
}

.edit-del-btn-grp {
  display: flex;
}

.edit-del-btn:hover, 
.edit-del-btn-grp h3:hover{
  color: orange;
  cursor: pointer;
}

.sys-msg {
  font-style: italic;
  color: rgb(192, 49, 49)
}

form.add-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px;
}

.add-form input, .add-form select {
  width: 70%;
}

.add-form label {
  min-width: 30%;
}

input, select {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.checkbox-grp {
  display:flex;
  justify-content: flex-end;
}

.pattern-checkbox {
  max-width: 20px;
  /* height: 20px; */
}

.add-form button {
  align-self: center;
  width: 200px;
}

form p {
  display: flex;
  justify-content: space-between;
}

.gear-collection {
  display: flex;
  width: 80vw;
  justify-content: center;
  min-height: 50vh;
  gap: 10px;
}

.gear-collection h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.gear-card {
  min-width: 20%;
  padding: 10px;
  border: 1px rgb(208, 203, 194) solid;
  border-radius: 10px;
  background-color: white;
}

.card-container {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
}

.side-by-side-container {
  display: flex;
  width: min(30vw, 100%);
  max-height: 80vh;
  gap: 10%;
  border: 1px rgb(208, 203, 194) solid;
  border-radius: 10px;
  padding: 2%;
  margin: 2%;
  background-color: white;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.item-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 3%;
}

.side-by-side-container:hover{
  transform: scale(1.05);
}

.snowboard-img {
  height: 40vh;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(9, 26, 85);
  height: 5rem;
  color: white;
}

a {
  text-decoration: none;
}

/* //don't forget to add meta tag for device width in index.html */
@media (max-width: 450px) {


  .left-hero {
    display: none;
  }

  .home-page {
    display: flex;
    width: 100%;
  }

  .side-by-side-container {
    width: 100%;
    max-height: 80vh;
    padding: 2%;
    margin: 2%;
  }

  .snowboard-img {
    height: 40vh;
  }
}